.header
{
    margin-left: -7px;
    margin-top: -700px;
    display: flex; 
    justify-content: space-between;
  
    padding-left: 40px;
}
.header img
{
    width: 150px;
    margin-left: 10px;
}
.header1
{
    display: flex;
    margin-top: 40px;
    margin-right: 50px;
    size-adjust: 50px;
    margin-left: 950px;
}
.header
{
    justify-content: space-between; 
    position: absolute;
}
.button 
{
    background-color:  #e50914;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    color: white;
    font-size: 20px;
    border: #e50914;
    
}
select
{
    padding: 10px 0px 10px 0px;
    border-radius: 4px;
    width:130px;
}
.bg
{
    margin-top: -8px;
    margin-left: -8px;
    
}
.background-img
{
    position: relative;
    margin-right: -7.5px;
}
.text1
{
   
    height: 150px;
    width: 700px;
    text-align: center;
    margin-left: 400px;
    font-size: 70px;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
    margin-top: 0px;
}
.text2
{
   
    width: 700px;
    height:30px;
    margin-left: 400px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: initial;
}
.text3
{
 
    width: 900px;
    height:30px;
    margin-left: 300px;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: initial;
}
input
{
    padding: 30px 28px 30px 28px;
}
.input1{
    background-color: #e50914;
    color: white;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 20px;
    padding: 27px 20px 27px 20px;
    border: solid 2px #e50914;
}
.text4
{
    margin-left: 400px;
}
.text5
{
    margin-left: 955px;
    margin-top: -80px;
}
.all-text
{
    position: absolute;
    margin-top: -500px;
}
.container1
{
    height: 350px;
    width: 101%;
    margin-top: -4px;
    border: solid 7px gray;
    background-color: black;
    border-left: black;
    border-right: black;  
    margin-left: -8px;
}   
.sub-cont1
{
    height: 180px;
    margin-left: -700px;   
}

.c1
{
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}
.c2
{
    margin-left: 40px;
}
.c3
{
    color:white;
    font-family: sans-serif;
    font-weight:initial;
    font-size: 24px;
}
.sub-cont2
{
   
    height: 270px;
    width: 480px;
    margin-top: -50px;   
    position: absolute;
    margin-left: 500px;
    
}
.sub-cont2 video
{
    height: 150px;
    width: 480px;
    margin-top: 50px;
}
.sub-cont2 img
{
  height: 260px;
  width: 360px;
  margin-left: 362px;
  margin-top: 40px;
}

.enjoyTV
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
.tv 
{
    
    position: relative;
    margin-top: -500px;
    margin-left: -300px;
    position: relative;
    margin-top: -250px;
}
.tv1
{
    height: 100px;
    width: 150px;
}
.container2
{
    height: 350px;
    width: 101%;
    margin-top: -4px;
    margin-left: -8px;
    border: solid 7px gray;
    background-color: black;
    border-left: black;
    border-right: black;
}
.watchEverywhere
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.sub-cont3 img
{
    height: 300px;
    width: 350px;  
    position: relative;
}
.sub-cont4
{
    border: solid 2px black;
    height: 300px;
    width: 650px;  
}
.text6
{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 55px;
    color:white;
}
.cont2-text
{
   margin-top: 50px;
}
.pop-up
{
    border:solid 3px gray;
    width: 315px;
    height: 80px;
    margin-top: -105px;
    position: absolute;
    margin-left: 20px;
    border-radius: 10px;
}
.main-pop
{
 display: flex;
 justify-content: space-evenly;
 margin-left: -1px;
 background-color: black;
 border-radius:10px ;
}
.pop-up1 img
{
 width: 70px;
 height: 70px;
 margin-top: 3px;
 margin-left: 0px;
}
.pop-up2
{
 width: 85px;
 height: 50px;
 margin-top: 3px;
 margin-left: -5px;
 margin-top: 5px;
 padding: 15px 50px 5px 10px;
 color: white;
 font-family: sans-serif;
}
.pop-up3 img
{
 width: 50px;
 height: 60px;
 margin-top: 8px;
 margin-left: -5px;
}
.download
{
    color: rgb(15, 102, 217);
}

.container3
{
    height: 450px;
    width: 101%;
    margin-top: -4px;
    margin-left: -8px;
    border: solid 7px gray;
    background-color: black;
    position: relative;
    border-left: black;
    border-right: black;  
}
.apple
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.sub-container5
{
    width: 550px;
    height: 230px;
    margin-top: 45px;
    margin-left: 60px;
}
.sub-container6 img
{
    
    width: 450px;
    height: 380px;
    margin-top: -30px;
   margin-right: 40px;
  
}
.sub-container6 video
{
  height: 200px;
  width: 273px;
  position: absolute;
  margin-left: 85px;
  margin-top: -25px;
}
.sub-container6 img
{
  height: 350px;
  width: 450px;
  position: relative;
}
.container4
{
    height: 400px;
    width: 101%;
    margin-top: -4px;
    margin-left: -8px;
    border: solid 7px gray;
    background-color: black;
    border-left: black;
    border-right: black;  
}
.sub-container7 img
{
    height: 320px;
    width: 450px; 
}
.sub-container8
{
    height: 300px;
    width: 500px; 
    margin-left: -100px;
    padding-top: 20px;
}
.children
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.container5
{
    height: 1050px;
    width: 101%;
    margin-top: -4px;
    margin-left: -8px;
    border: solid 7px gray; 
    background-color: black;
    border-left: black;
    border-right: black;  
}
.text8
{
    height: 70px;
    width: 700px; 
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bolder;
    color: white;
    background-color: black;
}
.text9
{
    margin: 30px 0px 0px 380px;
}
.text10
{
    height: 70px;
    width: 750px; 
    font-size: 35px;
    font-family: sans-serif;
    font-weight: initial;
    padding: 23px 0px 0px 10px;
    background-color: rgb(66, 63, 63);
    color: white;
}
.plus
{
    margin: -40px 0px 0px 680px;
    font-weight: bolder;
    font-size: 35px;
}

.text11
{
    margin-left: -400px;
}
.text12
{
 margin-left: 55px;
}
.container6
{
    height: 400px;
    width: 101%;
    margin-top: -4px;
    border: solid 7px rgb(120, 117, 117);
    background-color: black;
    border-left: black;
    border-right: black;  
    margin-left: -8px;
}
.footer-text1 
{
    color:  rgb(107, 103, 103);
    margin-top: 50px;
    margin-left: 200px;
    font-family: sans-serif;
    font-weight: initial;
}
.footer-text1 a
{
    color:  rgb(107, 103, 103);
    text-decoration: none;
}
.footer-text1 a:hover
{
    color:  rgb(107, 103, 103);
    text-decoration: underline;  
}
table,td
{
    border: none;
}
.footer-table,td
{
 margin: 15px 0px 0px 135px;
 padding: 2px 30px 20px 30px;
}
.footer-table a
{
    color: rgb(107, 103, 103);
    text-decoration: none;
    font-family: sans-serif;
    font-weight: initial;
}
.footer-table a:hover
{
    color: rgb(107, 103, 103);
    text-decoration: underline;
}
.select1 select
{
    margin: -10px 0px 0px 190px;
    background:black;
    color: white;
}
.text13
{
    color:rgb(107, 103, 103);
    font-family: sans-serif;
    margin: 15px 0px 0px 190px;
}