.container1,img
{
    
    display: inline-flex;
    width: 350px;
    height: 250px;
    margin-left: 100px;
    margin-top: 10px;
    border-radius: 30px;

}
.container2
{
    display: inline-flex;
    width: 300px;
    height: 250px;  
    margin-left: 20px;
    margin-top: 10px;
}
.container3
{
    display: inline-flex;
    width: 300px;
    height: 250px;  
    margin-left: 70px;
    margin-top: 10px;  
}
.container4
{
    display: inline-flex;
    width: 300px;
    height: 250px;  
    margin-left: 100px;
    margin-top: 10px;
    margin-top: 10px;
}
.container5
{
    display: inline-flex;
    width: 300px;
    height: 250px;  
    margin-left: 73px;
    margin-top: 10px;
}
.container6
{
    display: inline-flex;
    width: 300px;
    height: 250px;  
    margin-left: 73px;
    margin-top: 10px;
}
